language: android

android:
  jdk: oraclejdk8
  components:
    - tools
    - platform-tools
    - build-tools-23.0.2
    - android-23
    - extra-android-support
    - extra-android-m2repository

script:
   - ./gradlew clean build --stacktrace
