language: android
sudo: false

android:
  components:
    - platform-tools
    - build-tools-23.0.2
    - android-23
    - extra-android-support
    - extra-android-m2repository

script:
   - ./gradlew clean build --stacktrace
